* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    margin: 10%;
}
nav {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 5%;
    border-radius: 10%;
    border: 3px solid white;
    margin: 0 auto;
    
}
/*==========================================================================================================================================*/
body h1 {
    display: inline-block;
    width: 25%;
    height: 100px;
    padding: 5%;
}

body h2 {
    display: inline;
    width: 25%;
    height: 100px;
    padding: 5%;
    
}
body h3 {
    display: inline-block;
        
}
body .yosemite {
    border-radius: 70%;
    width: 25%;
    height: auto;
    display: inline-block;
}

/*==========================================================================================================================================*/
.bodytwo {
    margin: 0 auto;
    text-align: center;
    background-color: #DDB9A3;
    color: white;
}

/*==========================================================================================================================================*/
.bodythree {
    text-align: center;
}

.bodythree img {
    width: 10%;
    height: auto;
    margin: 0 auto;
}